/*
 * inline network
 */
div.reseaux{
    overflow: auto;
    white-space: nowrap;
    max-width: fit-content;
    margin: auto;
    position: relative;
    z-index: 9;
}
div.reseaux a {
    display: inline-block;
    z-index: 9;
}
div.reseaux #github {
    background-image: url(/assets/img/contact/GitHub64px.png);
    width: 64px;
    height: 64px;
    z-index: 9;
}
div.reseaux #instagram {
    background-image: url(/assets/img/contact/Instagram64px.png);
    width: 64px;
    height: 64px;
    z-index: 9;
}
div.reseaux #email {
    background-image: url(/assets/img/contact/AtLogo64px.png);
    width: 64px;
    height: 64px;
    z-index: 9;
}