/*
 * inline block of project
 */
div.row {
    background-color: rgba(91, 55, 158, 0.705);
    border-radius: 25px;
    overflow: auto;
    white-space: nowrap;
    margin: auto;
    position: relative;
    max-width: fit-content;
    z-index: 9;
}
div.column {
    background-color: rgb(91, 55, 158);
    border-radius: 25px;
    display: inline-block;
    color: rgb(174, 83, 197);
    text-align: center;
    padding: 14px;
    text-decoration: wavy;
    z-index: 9;
}
.open {
    background-color: rgb(219, 92, 92);
    border-radius: 25px;
    font-family: "Niconne", cursive;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    z-index: 9;
}

video {
    position: relative;
    z-index: 11;
}

source {
    position: relative;
    z-index: 11;
}
